# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = momondo.settings

# Project: momondo
[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
username = c4a73ae355ec4e74893e51dbcf2f36a4
password =
project = 6083
